[user]
	name = wilo01
	email = wilk9496@gmail.com
[core]
	editor = nvim
[safe]
	directory = /Users/daro/Dotfiles.git
	directory = /Users/daro/Dotfiles.git
	directory = /Users/daro/Dotfiles.git
	directory = /Users/daro/Dotfiles.git
	directory = /Users/daro/Dotfiles.git/Linux
	directory = /Users/daro/Dotfiles.git/MacOS
